* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#controls {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7); /* semi-transparent background */
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    font-family: Arial, sans-serif;
    max-width: 90%;
}
.button-text{
    position: absolute;
    font-size: 10px;
    text-align: center;
}
.button-group {
    margin-top: 20px;
    justify-content: center;
    position: relative;
    gap: 5px;
}
#controls button {
    padding: 10px 20px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: #1e90ff;
    color: white;
    cursor: pointer;
}
#controls button:hover {
    background-color: #0f78d1;
}


#gameCanvas {
    aspect-ratio: 2 / 1;
    width: 100vw;
    height: auto;
    max-height: 100vh;
    max-width: 100vw;
    background-color: #000;
}
